body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff59d;
  padding: 14px 14px;
}

.logo {
  font-size: 25px;
}

.logo i {
  color: #96937c;
}

.menus {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.menus li {
  padding: 8px 14px;
}
.menus li:hover {
  background-color: #cbc26d;
  border-radius: 4px;
}

.icons {
  list-style: none;
  display: flex;
  font-size: 25px;
}

.icons li {
  padding: 8px 14px;
}

.toogle {
  display: none;
  position: absolute;
  right: 30px;
  font-size: 25px;
  color: #96937c;
}

@media screen and (max-width: 768px) {
  .nav_bar {
    flex-direction: column;
    align-items: start;
  }
  .menus {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .toogle {
    display: block;
  }
}

.menus.active,
.icons.active {
  display: flex;
}
